*.pdf
!dot_minemacs.d/literate-config.pdf
!dot_obsolete_configs/dot_doom.d/config.pdf
*.tex
*.bbl
.auctex-auto
_minted*
dot_minemacs.d/private/*
dot_minemacs.d/custom.el
dot_minemacs.d/custom-vars.el
dot_doom.d/custom.el
