[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux.git
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
