[Desktop Entry]
Type=Application
Version=1.0
Name=eCryptfs Unlock Private Directory
Icon=unlock
Exec=/home/abdelhak/.ecryptfs/ecryptfs-mount-private-gui
Terminal=True
